node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Encryption keys
.env.keys

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.flaskenv*
!.env.project
!.env.vault